@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
@model My_Project.Models.StudentModel;

<div class="container">
    <div class="col-lg-12">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title fw-bold text-decoration-underline">Student Registration Form</h4>
                    <form method="post" asp-area="" asp-controller="Home" asp-action="Save">
                        @Html.HiddenFor(x => x.StudentID)
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label"><span class="text-danger fw-bold">*</span>Student Name :</label>
                                <input type="text" class="form-control" id="" name="StudentName" asp-for="StudentName" />
                                <span class="form-text text-danger" asp-validation-for="StudentName"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label"><span class="text-danger fw-bold">*</span>Email Address :</label>
                                <input type="text" class="form-control" id="" name="Email" asp-for="Email" />
                                <span class="form-text text-danger" asp-validation-for="Email"></span>
                            </div>
                        </div>
                        <div class="row justify-content-center">

                            <div class="dropdown-branch col-md-6 mb-3">
                                <label class="form-label"><span class="text-danger fw-bold">*</span>Branch :</label>
                                <select class="form-select" id="BranchDropdown" aria-label="Select Branch" asp-for="BranchID" asp-items="@(new SelectList(Model.BranchDropdownList, "BranchID", "BranchName"))">
                                    <option selected disabled>Select Branch</option>
                                </select>
                                <span class="form-text text-danger" asp-validation-for="BranchID"></span>
                            </div>
                            <div class="dropdown-city col-md-6 mb-3">
                                <label class="form-label"><span class="text-danger fw-bold">*</span>City :</label>
                                <select class="form-select" id="CityDropdown" aria-label="Select City" asp-for="CityID" asp-items="@(new SelectList(Model.CityDropdownList, "CityID", "CityName"))">
                                    <option selected disabled>Select City</option>
                                </select>
                                <span class="form-text text-danger" asp-validation-for="CityID"></span>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6 mb-3">
                                <label class="form-label"><span class="text-danger fw-bold">*</span>Student Mobile No. :</label>
                                <input type="text" class="form-control" id="" name="MobileNoStudent" asp-for="MobileNoStudent" pattern="\d*" maxlength="10" />
                                <span class="form-text text-danger" asp-validation-for="MobileNoStudent"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Father's Mobile No. :</label>
                                <input type="text" class="form-control" id="" name="MobileNoFather" asp-for="MobileNoFather" pattern="\d*" maxlength="10" />
                                <span class="form-text text-danger" asp-validation-for="MobileNoFather"></span>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6 mb-3">
                                <label class="form-label"><span class="text-danger fw-bold">*</span>Date of Birth :</label>
                                <input type="date" class="form-control" id="" name="BirthDate" asp-for="BirthDate" />
                                <span class="form-text text-danger" asp-validation-for="BirthDate"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Age :</label>
                                <input type="number" class="form-control" id="" name="Age" asp-for="Age" pattern="\d*" min="0" max="150" />
                                <span class="form-text text-danger" asp-validation-for="Age"></span>
                            </div>
                        </div>
                        <div class="dropdowns row justify-content-center">
                            
                        </div>
                        <div class="row justify-content-center mt-3">
                            <div class="col-md-6 mb-3">
                                <div class="row">
                                    <div class="col-4"><label class="form-label">Gender :</label></div>
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-4 form-check">
                                                <input type="radio" value="Male" class="form-check-input" id="" name="Gender" asp-for="Gender" checked />
                                                <label class="form-check-label">Male</label>
                                            </div>
                                            <div class="col-4 form-check">
                                                <input type="radio" value="Female" class="form-check-input" id="" name="Gender" asp-for="Gender" />
                                                <label class="form-check-label">Female</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="activationCheck" name="IsActive" asp-for="IsActive" />
                                    <label class="form-check-label" for="activationCheck">Active</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Address :</label>
                            <textarea class="form-control" asp-for="Address"></textarea>
                            <span class="form-text text-danger" asp-validation-for="Address"></span>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-start my-4">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-secondary mx-2">Reset</button>
                            </div>
                            <div class="col d-flex justify-content-end my-4">
                                <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-outline-danger">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}