
ASP .NET/C - Sharp/004/.vs/004/DesignTimeBuild/.dtbcache.v2
ASP .NET/C - Sharp/004/.vs/004/FileContentIndex/bbfa3e52-8619-4f6b-9476-0a633ccc22b4.vsidx
ASP .NET/C - Sharp/004/.vs/004/FileContentIndex/read.lock
ASP .NET/C - Sharp/004/.vs/004/v17/.futdcache.v2
ASP .NET/C - Sharp/004/.vs/004/v17/.suo
ASP .NET/C - Sharp/004/.vs/ProjectEvaluation/004.metadata.v7.bin
ASP .NET/C - Sharp/004/.vs/ProjectEvaluation/004.projects.v7.bin
ASP .NET/C - Sharp/004/004.csproj
ASP .NET/C - Sharp/004/004.sln
ASP .NET/C - Sharp/004/bin/Debug/net7.0/004.deps.json
ASP .NET/C - Sharp/004/bin/Debug/net7.0/004.dll
ASP .NET/C - Sharp/004/bin/Debug/net7.0/004.exe
ASP .NET/C - Sharp/004/bin/Debug/net7.0/004.pdb
ASP .NET/C - Sharp/004/bin/Debug/net7.0/004.runtimeconfig.json
ASP .NET/C - Sharp/004/obj/004.csproj.nuget.dgspec.json
ASP .NET/C - Sharp/004/obj/004.csproj.nuget.g.props
ASP .NET/C - Sharp/004/obj/004.csproj.nuget.g.targets
ASP .NET/C - Sharp/004/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
ASP .NET/C - Sharp/004/obj/Debug/net7.0/004.AssemblyInfo.cs
ASP .NET/C - Sharp/004/obj/Debug/net7.0/004.AssemblyInfoInputs.cache
ASP .NET/C - Sharp/004/obj/Debug/net7.0/004.assets.cache
ASP .NET/C - Sharp/004/obj/Debug/net7.0/004.csproj.AssemblyReference.cache
ASP .NET/C - Sharp/004/obj/Debug/net7.0/004.csproj.BuildWithSkipAnalyzers
ASP .NET/C - Sharp/004/obj/Debug/net7.0/004.csproj.CoreCompileInputs.cache
ASP .NET/C - Sharp/004/obj/Debug/net7.0/004.csproj.FileListAbsolute.txt
ASP .NET/C - Sharp/004/obj/Debug/net7.0/004.dll
ASP .NET/C - Sharp/004/obj/Debug/net7.0/004.GeneratedMSBuildEditorConfig.editorconfig
ASP .NET/C - Sharp/004/obj/Debug/net7.0/004.genruntimeconfig.cache
ASP .NET/C - Sharp/004/obj/Debug/net7.0/004.GlobalUsings.g.cs
ASP .NET/C - Sharp/004/obj/Debug/net7.0/004.pdb
ASP .NET/C - Sharp/004/obj/Debug/net7.0/apphost.exe
ASP .NET/C - Sharp/004/obj/Debug/net7.0/ref/004.dll
ASP .NET/C - Sharp/004/obj/Debug/net7.0/refint/004.dll
ASP .NET/C - Sharp/004/obj/project.assets.json
ASP .NET/C - Sharp/004/obj/project.nuget.cache
