
*.v2
*.vsidx
ASP .NET/C - Sharp/004/.vs/004/v17/.suo
*.lock
*.bin
*.csproj
*.sln
*.json
*.dll
*.pdb
*.exe
*.props
*.targets
*.cs
*.cache
*.BuildWithSkipAnalyzers
*.txt
*.editorconfig
ASP .NET/C - Sharp/001/.vs/001/v17/.suo
ASP .NET/C - Sharp/002/.vs/002/v17/.suo
ASP .NET/C - Sharp/003/.vs/003/v17/.suo
