@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model My_Project.Areas.LOC_State.Models.LOC_StateModel

<div class="container w-50">
    <form method="post" asp-area="LOC_State" asp-controller="LOC_State" asp-action="Save">
        @*<input type="hidden" asp-for="CountryID" />*@
        @Html.HiddenFor(x => x.StateID)
        <div class="mb-3">
            <select class="form-select" aria-label="Select Country" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryDropdownList, "CountryID", "CountryName"))">
                <option selected>Select Country</option>
            </select>
            @*<span class="form-text text-danger" asp-validation-for="CountryID"></span>*@
        </div>
        <div class="mb-3">
            <label class="form-label"><span class="text-danger fw-bold">*</span>State Name :</label>
            <input type="text" class="form-control" id="StateName" name="StateName" asp-for="StateName" />
            <span class="form-text text-danger" asp-validation-for="StateName"></span>
        </div>
        <div class="mb-3">
            <label class="form-label"><span class="text-danger fw-bold">*</span>State Code :</label>
            <input type="text" class="form-control" id="StateCode" name="StateCode" asp-for="StateCode" />
            <span class="form-text text-danger" asp-validation-for="StateCode"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}